body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: yellow;
    color: #000080;
}

header {
    background-color: blue;
    padding: 40px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: yellow;
}
header h2 {
    margin: 10px;
    color: yellow;
}

main {
    min-height: 70vh;
}

footer {
    background-color: blue;
    color: yellow;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
